name: Deploy code to Droplet

on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Copy code to Droplet
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.DROPLET_KEY }}
          source: '.'
          target: '~/sherp2'

      - name: Restart sherp2
        run : |
          cd ~/sherp2
          pip install -r requirements.txt
          pm2 stop sherp2
          pm2 start sherp2


